# App Configuration
APP_MODE=development
APP_PORT=1337
APP_HOST=localhost

# Database Configuration
DB_MAIN_PORT=5432
DB_MAIN_HOST=localhost
DB_MAIN_USERNAME=postgres
DB_MAIN_PASSWORD=
DB_MAIN_TYPE=postgres
DB_MAIN_DATABASE=

# JWT Configuration
APP_JWT_EXPIRES_IN=
APP_JWT_ADMIN_EXPIRES_IN=
APP_JWT_ISSUER=
APP_JWT_ADMIN_ISSUER=
APP_JWT_ALGORITHM=
APP_JWT_PRIVATE_KEY=
APP_JWT_PUBLIC_KEY=

# Firebase Configuration
APP_FIREBASE_JSON=
APP_FIREBASE_API_KEY=
APP_FIREBASE_AUTH_DOMAIN=
APP_FIREBASE_PROJECT_ID=
APP_FIREBASE_STORAGE_BUCKET=
APP_FIREBASE_MESSAGING_SENDER_ID=
APP_FIREBASE_APP_ID=
APP_FIREBASE_MEASUREMENT_ID=

# THROTTLER CONFIGURATION
APP_THROTTLER_TTL= # in seconds
APP_THROTTLER_MAX_REQUEST= # requests per ttl

# BCRYPT CONFIGURATION
APP_BCRYPT_SALT_OR_ROUND=